/*challenge*/
footer.attribution { font-size: 11px; text-align: center; }
footer.attribution a { color: hsl(228, 45%, 44%); }

/*work*/
:root {
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);

    --mobile-width: 375px;
    --desktop-width: 1440px;

    --img-width: 80%;
}

ul {
    list-style: none;
    padding: 0;
}
button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


body {
    box-sizing: content-box;
    max-width: 1440px;
    width: 1440px;
    margin: 4% 12% 0 12%;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
}

main {
    width: 100%;
    position: relative;
    /*margin: auto;*/
}


/* NAVBAR */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-top {
    display: inline-flex;
    justify-content: space-evenly;
}
.nav-top img {
    width: 30%;
    height: 25%;
    margin-right: 30px;
}
.nav-top span {
    margin: 0 10px;
    color: var(--grayish-blue);
    font-weight: 700;

}

.nav-tail {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}
.nav-tail-cart {
    width: 20%;
    height: 30%;
}
.nav-tail-avatar {
    width: 40%;
}


.navbar-hr {
    border: 1px solid var(--grayish-blue);
}

/* CONTENT */

#content {
    width: 100%;
    margin: 5% 0;
    display: flex;
}

#image-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-sel {
    text-align: center;
}
.product-sel img{
    width: var(--img-width);
    border-radius: 10px;
}
#image-side .product-thumb {
    width: var(--img-width);
    display: flex;
    justify-content: space-between;
}
#image-side .product-thumb .tmb-btn {
    margin: 20px 7px;
    border-radius: 5px;
}
#image-side .product-thumb .tmb-btn:focus {
    opacity: 0.7;
    border: 5px solid var(--orange);
    border-radius: 5px;
    background-color: var(--orange);
}
#image-side .product-thumb .tmb-btn img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#desc-side {
    width: 50%;
    margin: 7% 0;
    display: flex;
    flex-direction: column;
}
.desc-top {
    color: var(--orange);
    font-weight: 600;
    font-size: 0.9em;
    margin: 0;
    text-transform: uppercase;
}
.desc-h {
    color: var(--black);
    font-weight: 700;
    font-size: 3em;
    margin: 3% 0 5% 0;
}
.desc-par {
    margin-bottom: 7%;
    color: var(--dark-grayish-blue);
    font-size: 1.2em;
    font-weight: 500;
}
.desc-price {
    display: inline-flex;
    margin-bottom: 3%;
}
.desc-price .desc-price-current {
    color: var(--black);
    font-size: 2.3em;
    font-weight: 600;
    margin-right: 25px;
}
.desc-price .desc-price-discount {
    margin: auto 0;
    padding: 5px 7px;
    color: var(--orange);
    background-color: var(--pale-orange);
    font-size: 1em;
    font-weight: 700;
    border-radius: 5px;
}
.desc-price-old {
    margin-bottom: 7%;
    color: var(--grayish-blue);
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: line-through;
}
.desc-purchase-container {
    width: 100%;
    display: flex;
}
.desc-purchase-container > div {
    height: 3em;
}
.desc-purchase-selection {
    margin-right: 30px;
    display: flex;
    flex-basis: 30%;
    background-color: var(--light-grayish-blue);
    justify-content: space-around;
    border-radius: 7px;
}
.desc-purchase-selection button img {
    display: block;
    margin: auto;
}
.desc-purchase-selection span{
    color: var(--black);
    font-size: 1.2em;
    font-weight: 600;
}
.desc-purchase-add-cart {
    width: 30%;
    display: inline-flex;
    flex-basis: 50%;
    justify-content: center;
    color: var(--white);
    background-color: var(--orange);
    font-weight: 600;
    border-radius: 7px;
    box-shadow: 0px 10px 27px -5px var(--orange);
}
.desc-purchase-add-cart img {
    color: var(--white);
    width: 8%;
    height: 43%;
    margin: auto 0;
}

.desc-purchase-count {
    margin: auto 0;
}
.desc-purchase-add-cart span {
    margin: auto 0 auto 10px;
}


/*MODAL*/
.modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-container {
    position: relative;
    z-index: 1;
}