/*challenge*/
footer .attribution { font-size: 11px; text-align: center; }
footer .attribution a { color: hsl(228, 45%, 44%); }

/*work*/
:root {
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);

    --mobile-width: 375px;
    --desktop-width: 1440px;
}

ul {
    list-style: none;
    padding: 0;
}

body {
    max-width: 1440px;
    width: 1440px;
    margin: 4% 12% 0 12%;
    font-family: 'Manrope', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Space Mono', monospace;
    font-size: 16px;
}

main {
    width: 100%;
    argin: auto;
}


/* NAVBAR */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-top {
    display: flex;
    justify-content: space-evenly;
}
.nav-top img {
    width: 30%;
    height: 25%;
    margin-right: 30px;
}
.nav-top span {
    margin: 0 10px;
    color: var(--grayish-blue);
    font-weight: 700;

}

.nav-tail {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-tail-cart {
    width: 20%;
    height: 30%;
}
.nav-tail-avatar {
    width: 40%;
}


.navbar-hr {
    border: 1px solid var(--grayish-blue);
}

/* CONTENT */

#content {
    width: 100%;
    display: flex;
}

#image-side {
    display: flex;
    flex-direction: column;
}
#image-side .product-thumb {
    display: flex;
    justify-content: space-around;
}
#image-side .product-thumb > img {
    border-radius: 3px;
}

#desc-side {
    display: flex;
    flex-direction: column;
}

